*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text-logo{
    color: #ED1F24;
}
.bg-logo{
    background-color: #ED1F24;
}
.btn-logo{
    color: #fff;
    background-color: #ED1F24;
}
.btn-logo:hover{
    color: #fff;
    background-color: #ED1F24;
    box-shadow: 2px 3px 4px grey;
}
.btn-outline-logo{
    color: #ED1F24;
    border: 1px solid #ED1F24;;
}
.btn-outline-logo:hover{
    background-color: #ED1F24;
    color: #fff;
}
#back{
    background-image: url(../img/back-theme.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.bg-grey{
    background-color: rgba(237, 31, 36, 0.1);
}
.btn-grey{
    background-color: rgba(237, 31, 36, 0.1);
    color: #000;
}
.btn-grey:hover{
    background-color: #ED1F24;
    color: #fff;
}
.background-img{
    position: relative;
}
.profile{
    position: absolute;
    top: 300px;
    left: 30px;
}
